/*!
 * @file
 * @brief
 */

#ifndef neopixel_h
#define neopixel_h

#include <stdint.h>

#ifndef neopixel_api_name
#error "neopixel_api_name must be defined"
#endif

#define _neopixel_concat(x, y) x##y
#define neopixel_concat(x, y) _neopixel_concat(x, y)

void neopixel_concat(neopixel_api_name, _write)(const uint8_t* data, uint16_t count);
void neopixel_concat(neopixel_api_name, _reset)(void);

#endif
